<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Document</title>
</head>

<body>
    <h1 style="color: red; font-size: large; text-align: center">
        this is the "Hello World" page i have been trying to display
    </h1>
    <table border="1" style="text-align: center; margin: auto;">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>mohammed</td>
                <td>mohammed@gmail.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>hassan</td>
                <td>hassan@gmail.com</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mounir</td>
                <td>mounir@gmail.com</td>
            </tr>
        </tbody>
    </table>

    
</body>

</html>