<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <html xmlns:th="http://www.thymeleaf.org">

    <title>Document</title>

    <style>
        table {
            border-collapse: collapse;
            width: 70%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background: #eee;
        }
    </style>
  </head>
  <body>

    <!-- <ul>
      <li th:each="u : ${users}" th:text="${u}"></li>
    </ul> -->


    <table border="1">
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>age</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user :${users}">
            <td th:each="u :${user}" th:text="${u}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
